name: Release

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [semantic]

jobs:
  annotate:
    name: Annotate Commit as Release
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
